
@font-face {
  font-family: "Yeseva One";
  src: url(../fonts/YesevaOne.otf);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato.ttf);
}

@font-face {
  font-family: "GenB";
  src: url(../fonts/GenB.ttf);
}

body, html {
  margin: 0;
  padding: 0;
}


.wrapper {
  margin: 0 auto;
  width: 1600px;
}

.background-overlay .container p:nth-child(2) {
  margin-bottom: 30px;
}

.background-1 {
  background-image: url(../images/background/Bg.png);
  background-position: 50% 0px;
  width: 1600px;
  height: 750px;
  position: absolute;
  background-attachment: fixed;
  top: 0px;
}

.background-overlay .container {
  width: 970px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 130px;
}

.container h1 {
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.container img {
  display: block;
  margin: 0 auto;
}

.container .links a {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 230px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 16px;
  margin-right: 25px;
  margin-top: 32px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.container .links a:last-child {
  margin: 0;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
 }

.container .links {
  display: inline-block;
}

.shadow {
  box-shadow: 0px 50px 119px 0px rgba(0,0,0,0.67);
  width: 1600px;
  height: 160px;
  top: -160px;
  position: absolute;
  z-index: 1;
}

.container p {
  font-family: "Yeseva One", sans-serif;
  display: block;
  text-align: center;
  font-size: 90px;
  color: #fff;
  margin: 0;
  font-weight: 400;
  text-shadow:  1px 1px 2px #000;
}

.container {
  position: relative;
  z-index: 2;
}

.layout-positioner {
  z-index: 3;
}

.layout-positioner {
  margin: 0px auto;
  margin-bottom: 40px;
  width: 1250px;
}

.layout-positioner h1 {
  margin: 30px 0;
}

.layout-positioner::after {
  content: "";
  display: table;
  clear: both;
 }

 .navbar {
  float: right;
 }

 .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }

 .navbar ul li {
  list-style: none;
  float: left;
  display: block;
  padding: 40px 5px;
  padding-bottom: 0;
  margin-right: 50px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
 }

 .navbar ul li a {

  font-family: "GenB", sans-serif;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
 }


 .navbar ul li:hover {
  border-top: 5px solid #c9c6ba;
  padding-top: 35px;
 }

 .navbar ul li:last-child {
  margin-right: 0;
 }

 .social-media {
  float: right;
  padding: 20px 0;
  padding-right: 37px;
  padding-left: 15px;
  margin-top: 20px;
 }

 .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }

 .social-media ul li {
  float: right;
  margin-right: 18px;
 }

 .social-media ul li a {
  font-size: 21px;
  color: #dab33e;
 }

 .social-media ul li:first-child {
  margin-right: 0px;
 }
